<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Spolight Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



    
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />




    <!-- animation css style link -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


    <!-- Favicons -->

    <meta name="theme-color" content="#712cf9">


    <!-- Custom styles for this template  -->
    <link href="carousel.css" rel="stylesheet">
</head>
<body>
    <header
    class="d-flex flex-wrap align-items-center justify-content-center  space-around justify-content-md-between py-3 mb-3 border-bottom  fixed-top bg-white">

    <nav class=" navbar navbar-expand-sm  fw-bold   fixed-top bg-white n">
        <div class="container-fluid ">
            <div class="  mb-md-0" style="padding-left: 95px;  padding-right: 90px; border:2px solid white;">
                <a class="navbar-brand" href="">
                    <img src="../static/logo31.jpg" alt="" width="100" class="ml">
                    <img src="../static/23 execellence.png" alt="" width="100" id="logo">

                </a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class=" material-symbols-outlined" style="color:black;">
                    menu
                </span> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class=" jk d-flex col-12 col-md-auto  justify-content-center mb-md-0"
                    style="color: #000; text-decoration: none; list-style-type: none; font-size:15px;">
                    <li class="nav-item active nav-hover">
                        <a class="nav-link " href="/index.html">Home</a>

                    </li>
                    <li class="nav-item dropdown nav-hover">
                        <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">About Us</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item fw-bold" href="./vission.html">Mission-Vission</a>
                            </li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item fw-bold" href="./president.html">President Message</a></li>
                        </ul>
                    </li>
                    <li class="nav-item  nav-hover">
                        <a class="nav-link " href="./alumnispolight.html" role="button"
                            aria-expanded="false">Alumni Spotlight</a>

                    </li>

                    <li class="nav-item  nav-hover">
                        <a class="nav-link " href="./resgistration.html" role="button"
                            aria-expanded="false">Registration</a>

                    </li>
                    <li class="nav-item nav-hover dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">News & Events</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item fw-bold"
                                    href="../static/Newsletter-Jan-2022.pdf">Newsletter-Jan-2022</a>
                            </li>
                            <li><a class="dropdown-item fw-bold"
                                    href="../static/July-2022-Vol-2.pdf">July-2022-Vol-2</a>
                            </li>


                        </ul>
                    </li>

                    <li class="nav-item nav-hover dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Alumni Association</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item fw-bold" href="./association_profile.html">Alumni
                                    Council
                                    Executive Committee
                                </a></li>


                        </ul>
                    </li>

                    <li class="nav-item  nav-hover">
                        <a class="nav-link " href="./contact.html">Contact Us</a>

                    </li>




                </ul>

            </div>

            <div class="   mb-md-0 text-end" style="padding-right: 90px; border:2px solid white; padding-left: 10px; padding-right: 10px; margin-left: 25px; margin-right: 30px;">
                <a href="/" class=" navbar-brand text-decoration-none">

                    <img src="../static/23 execellence.png" class="bi" role="img" alt="" width="100" id="logo2">

                </a>


            </div>
        </div>
    </nav>
</header>
</div>
    <div class="container-fluid">
        <div class="p-4 p-md-5 mb-4 my-7 rounded d-flex align-items-center justify-content-center"
            style="margin-top: 121px;  background-color: #f6f2ed;">
            <div class="col-md-6 px-0 d-flex flex-column align-items-center justify-content-center"
                style="width: 100% ;">
                <h1 class="heading  fw-bold text-center ">Alumni Spotlights</h1>
                <a href="https://sdbc.ac.in/">
                    <h3 class="text-md-center text-black"> It Proud To Say That #WeAreBGI </h3>
                </a>
            </div>
        </div>
    <div class="container">
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
        
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                  <div class="card shadow-sm">
                    <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" src="./img1/sherin.png" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                    <img class="bd-placeholder-img card-img-top" width="100%" height="" src="../static/photos/img1/sherin.png"  alt="" role="img">
                    <div class="card-body">
                      <p class="card-text"><h2 class="fw-bold">Sherin Dubey</h2><h3 class="fw-bold">Full Stack Developer</h3> JP Morgan Chase & Co.
                    New York, USA</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <!-- <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div> -->
                        <!-- <small class="text-body-secondary">9 mins</small> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                                        <img class="bd-placeholder-img card-img-top" width="100%" height="" src="../static/photos/img1/oshin.png" alt="" role="img">

                    <div class="card-body">
                        <p class="card-text"><h2 class="fw-bold">Oshin Rawal </h2><h3 class="fw-bold">Senior Developer</h3> Shopify Pittsburgh, USA</p>
                                                  <div class="d-flex justify-content-between align-items-center">
                        <!-- <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-body-secondary">9 mins</small> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="" src="../static/photos/img1/pradeep.png" alt="" role="img">

                    <div class="card-body">
                        <p class="card-text"><h2 class="fw-bold">Pardeep Chaturvedi</h2><h3 class="fw-bold">Deputy Engineer</h3>BHEL , Bhopal</p>                      <div class="d-flex justify-content-between align-items-center">
                        <!-- <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-body-secondary">9 mins</small> -->
                      </div>
                    </div>
                  </div>
                </div>
        
            




                <div class="col">
                  <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="" src="../static/photos/img1/amit gupta.jpg" alt="" role="img">

<div class="card-body">
    <p class="card-text"><h4 class="fw-bold">Amit Gupta</h4><h6 class="fw-bold">Asst. Engineer</h6>Bhopal Smart City Development Corporation,Bhopal</p>                      <div class="d-flex justify-content-between align-items-center">
                        <!-- <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-body-secondary">9 mins</small> -->
                      </div>
                    </div>
                  </div>
                </div>
             
        
                <div class="col">
                  <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="" src="../static/photos/img1/bhawanaidasni.jpg" alt="" role="img">

                    <div class="card-body">
                        <p class="card-text"><h2 class="fw-bold">Bhawna Aidasani</h2><h3 class="fw-bold">Softawre Developer</h3> TCS, Indore
                        </p>                      <div class="d-flex justify-content-between align-items-center">
                        <!-- <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-body-secondary">9 mins</small> -->
                      </div>
                    </div>
                  </div>
                </div>
              
                <div class="col">
                  <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="" src="../static/photos/img1/aastha bhandari.jpg" alt="" role="img">

                   <div class="card-body">
                    <p class="card-text"><h2 class="fw-bold">Aastha Bhandari </h2><h3 class="fw-bold"> Programmer Analyst</h3> DXC Technology, Indore
                        New York, USA</p>               
                               <div class="d-flex justify-content-between align-items-center">
                        <!-- <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-body-secondary">9 mins</small> -->
                      </div>
                    </div>
                  </div>
                </div>


               

          
                

                <div class="col">
                  <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="" src="../static/photos/img1/sakshio.jpg" alt="" role="img">

                   <div class="card-body">
                      <p class="card-text"><h4 class="fw-bold">Sakshi Ojha</h4><h5 class="fw-bold">Associate Software</h5> TCS, Banglore
                      </p>                       
                       <div class="d-flex justify-content-between align-items-center">
                        <!-- <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-body-secondary">9 mins</small> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="" src="../static/photos/img1/tusharb.jpg" alt="" role="img">

                   <div class="card-body">
                    <p class="card-text"><h3 class="fw-bold">Tushar Bhalode</h3><h4 class="fw-bold">Executive Purchase Engineer</h4> Shandong Heavy Industry India Pvt. Ltd, Pune
                </p>                        <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex justify-content-between align-items-center">
                        <!-- <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-body-secondary">9 mins</small> -->
                      </div>
                    </div>
                  </div>
                </div>
            </div>


            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="" src="../static/photos/img1/shubham.jpg" alt="" role="img">

                <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                <div class="card-body">
                    <p class="card-text"><h4 class="fw-bold">Shubham Shrivastav</h4><h5 class="fw-bold">Marine Engineer</h5>World Tankers Management ,Singapore</p>                      <div class="d-flex justify-content-between align-items-center">
                    <!-- <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small> -->
                  </div>
                </div>
              </div>
            </div>

                <div class="col">
                  <div class="card shadow-sm">
                                        <img class="bd-placeholder-img card-img-top" width="100%" height="" src="../static/photos/img1/abhishek dubey.jpg" alt="" role="img">

                   <div class="card-body">
                    <p class="card-text"><h3 class="fw-bold">Abhishek Dubey</h3><h3 class="fw-bold">Engineer </h3> L & T Project, Kalisindh Project 
            </p>
                                              <div class="d-flex justify-content-between align-items-center">
                        <!-- <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-body-secondary">9 mins</small> -->
                      </div>
                    </div>
                  </div>
                </div>


                
              </div>
            </div>
          </div>    
    </div>
    


    <div class="container-fluid py-5 bg-white">
        <footer class="row ">
            <div class="col-12 col-md">
                <img class="bi me-2 align-items-center" src="../static/photos/img1/bgi_s.png" width="350" alt=""> <small
                    class="d-block mb-3 text-muted"></small>

                <p class=" fw-bold ">Sushila Devi Bansal College Indore<br> 
                Admission Enquiry (B. Tech/ME/M. Tech/MBA)<br>
                E-mail : counselling@sdbc.ac.in<br>
                +91-9669662244, +91-9669661133<br>
                Address: Umaria, A. B. Road, Near Rau,
                    <br> Indore-453 331 (MP)-India
                </p>


            </div>


            <div class="col-6 col-md">
                <h5 class="fw-blod" style="color:#000; font-weight: bold;">Quick links</h5>
                <ul class=" list-unstyled text-small">
                    <li class="nav-item mb-2"><a href="https://sdbc.ac.in/">
                            <h6 class="text-black text-muted text-small"> SDBC-BGI Indore</h6>
                        </a></li>
                    <li class="nav-item mb-2"><a href="/index.html">
                            <h6 class="text-black text-muted text-small"> AASDBC</h6>
                        </a></li>
                        <li class="nav-item mb-2"><a href="https://sdbc.ac.in/placed-students/">
                          <h6 class="text-black text-muted text-small"> Placed Student</h6>
                      </a></li>


                </ul>
            </div>
            <div class="container-fluid bg-white ">
                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 ">
                    <div class="col-md-4 d-flex align-items-center">
                        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">

                        </a>
                        <!-- <span class="mb-3 mb-md-0 text-muted">© 2023 Sushila Devi Bansal College Indore. All Rights
                            Reserved</span> -->

                            <span class="mb-3 mb-md-0 text-muted">© 2023 Naveen Mishra. All Rights
                              Reserved</span>
                    </div>

                    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                        <li class="ms-3"><a class="text-muted "
                                href="https://www.instagram.com/sd_bansal_college_indore/"><img src="../static/photos/img1/in_i2.png"
                                    class="rounded-circle" width="40" alt="instragam"></li>
                        <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/sdbansalindore/"><img
                                    src="../static/photos/img1/fac_ic4.png" class="rounded-circle" width="40" alt="facebook">
                        </li>
                        <li class="ms-3"><a class="text-muted"
                                href="https://www.linkedin.com/company/sushila-devi-bansal-college-indore/"><img
                                    class="rounded-circle" src="..//static/photos/img1/in_ic3.png" width="40" alt="linkedin">
                        </li>
                        <li class="ms-3"><a class="text-muted"
                                href="https://www.youtube.com/@sushiladevibansalcollegein5614"><img
                                    class="rounded-circle" src="../static/photos/img1/y_i1.png" width="40" alt="Youtube">
                        </li>
                    </ul>
                </footer>
            </div>


        </footer>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>


    <!-- animation js link -->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 300,
            duration: 2000,
        });
    </script>

</body>
</html>