<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


    <meta name="theme-color" content="#712cf9">


    <!-- Custom styles for this template  -->
    <link href="carousel.css" rel="stylesheet">

    
    <!-- animation css aos  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<style>
    .navbar-toggler {
        color: #000;
        background-color: #000;
        opacity: 10%;
    }
</style>

<body>
    <!-- navbar -->
    <header
        class="d-flex flex-wrap align-items-center justify-content-center  space-around justify-content-md-between py-3 mb-3 border-bottom  fixed-top bg-white">

        <nav class=" navbar navbar-expand-sm  fw-bold   fixed-top bg-white n">
            <div class="container-fluid ">
                <div class="  mb-md-0" style="padding-left: 95px;  padding-right: 90px; border:2px solid white;">
                    <a class="navbar-brand" href="">
                        <img src="../static/logo31.jpg" alt="" width="100" class="ml">
                        <img src="../static/23 execellence.png" alt="" width="100" id="logo">

                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class=" jk d-flex col-12 col-md-auto  justify-content-center mb-md-0"
                    style="color: #000; text-decoration: none; list-style-type: none; font-size:15px;">
                      <li class="nav-item  nav-hover">
                            <a class="nav-link " href="/index.html">Home</a>

                        </li>
                        <li class="nav-item dropdown nav-hover">
                            <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">About Us</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item fw-bold " href="./vission.html">Mission-Vission</a></li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item fw-bold" href="./president.html">President Message </a></li>
                            </ul>
                        </li>

                        <li class="nav-item  nav-hover">
                            <a class="nav-link " href="./alumnispolight.html" role="button"
                                aria-expanded="false">Alumni Spotlight</a>

                        </li>
                        <li class="nav-item  nav-hover">
                            <a class="nav-link  active " href="./resgistration.html" role="button"
                                aria-expanded="false">Registration</a>

                        </li>
                        <li class="nav-item nav-hover dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">News & Events</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item fw-bold"
                                        href="../static/Newsletter-Jan-2022.pdf">Newsletter-Jan-2022</a>
                                </li>
                                <li><a class="dropdown-item fw-bold" href="../static/July-2022-Vol-2.pdf">July-2022-Vol-2</a></li>


                            </ul>
                        </li>

                        <li class="nav-item nav-hover dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Alumni Association</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item fw-bold" href="./association_profile.html">Alumni
                                        Council
                                        Executive Committee</a></li>


                            </ul>
                        </li>

                        <li class="nav-item  nav-hover">
                            <a class="nav-link " href="./contact.html">Contact Us</a>

                        </li>
                    </ul>

                </div>

                <div class="   mb-md-0 text-end" style="padding-right: 90px; border:2px solid white; padding-left: 10px; padding-right: 10px; margin-left: 25px; margin-right: 30px;">
                    <a href="/" class=" navbar-brand text-decoration-none">

                        <img src="../static/23 execellence.png" class="bi" role="img" alt="" width="100" id="logo2">

                    </a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="p-4 p-md-5 mb-4 my-7 rounded d-flex align-items-center justify-content-center"
            style="margin-top: 121px;  background-color: #f6f2ed;">
            <div class="col-md-6 px-0 d-flex flex-column align-items-center justify-content-center"
                style="width: 100% ;">
                <h1 class="heading  fw-bold text-center ">Registration For Alumni Of SDBC-BGI Indore</h1>
                <a href="https://sdbc.ac.in/">
                    <h3 class="text-md-center text-black">Be a Part of SDBC-BGI Family </h3>
                </a>
            </div>
        </div>
        <div class="bg-white me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h4 class="display-5 form-title fw-bold" style="font-size:40px;">Alumni Registration Form </h4>
                <div class="container d-flex justify-content-between">
                    <div class="mb-3 px-2">

                        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Name*">
                    </div>
                    <div class="mb-3 px-2">

                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email*">
                    </div>
                </div>

                <div class="container d-flex justify-content-between">
                    <div class="mb-3 px-2">

                        <input type="moblie number" class="form-control" id="exampleFormControlInput1"
                            placeholder="Moblie Number*">
                    </div>
                    <div class="mb-3 px-2">
                        <select id="courses" class="form-select  form-select" name="courses">
                            <option selected class="selcourses">Select Courses</option>
                            <option value="1">B.Tech</option>
                            <option value="2">M.Tech</option>
                            <option value="3">MBA</option>
                        </select>
                    </div>
                </div>

                <div class="container d-flex justify-content-between">
                    <div class="mb-3 px-2">


                        <select id="country-state" class="form-control form-select" name="country-state">
                            <option value="">Select state</option>
                            <option value="AN">Andaman and Nicobar Islands</option>
                            <option value="AP">Andhra Pradesh</option>
                            <option value="AR">Arunachal Pradesh</option>
                            <option value="AS">Assam</option>
                            <option value="BR">Bihar</option>
                            <option value="CH">Chandigarh</option>
                            <option value="CT">Chhattisgarh</option>
                            <option value="DN">Dadra and Nagar Haveli</option>
                            <option value="DD">Daman and Diu</option>
                            <option value="DL">Delhi</option>
                            <option value="GA">Goa</option>
                            <option value="GJ">Gujarat</option>
                            <option value="HR">Haryana</option>
                            <option value="HP">Himachal Pradesh</option>
                            <option value="JK">Jammu and Kashmir</option>
                            <option value="JH">Jharkhand</option>
                            <option value="KA">Karnataka</option>
                            <option value="KL">Kerala</option>
                            <option value="LA">Ladakh</option>
                            <option value="LD">Lakshadweep</option>
                            <option value="MP">Madhya Pradesh</option>
                            <option value="MH">Maharashtra</option>
                            <option value="MN">Manipur</option>
                            <option value="ML">Meghalaya</option>
                            <option value="MZ">Mizoram</option>
                            <option value="NL">Nagaland</option>
                            <option value="OR">Odisha</option>
                            <option value="PY">Puducherry</option>
                            <option value="PB">Punjab</option>
                            <option value="RJ">Rajasthan</option>
                            <option value="SK">Sikkim</option>
                            <option value="TN">Tamil Nadu</option>
                            <option value="TG">Telangana</option>
                            <option value="TR">Tripura</option>
                            <option value="UP">Uttar Pradesh</option>
                            <option value="UT">Uttarakhand</option>
                            <option value="WB">West Bengal</option>

                        </select>
                    </div>

                    <div class="mb-3 px-2">
                        <input type="City" class="form-control" id="exampleFormControlInput1" placeholder="City">
                    </div>


                </div>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
        </div>

    </main>

    <!-- footer section -->

    <div class="container-fluid py-5 bg-white">
        <footer class="row ">
            <div class="col-12 col-md">
                <img class="bi me-2 align-items-center" src="..//static/photos/img1/bgi_s.png" width="350" alt=""> <small
                    class="d-block mb-3 text-muted"></small>

                    <p class=" fw-bold ">Sushila Devi Bansal College Indore<br> 
                        Admission Enquiry (B. Tech/ME/M. Tech/MBA)<br>
                        E-mail : counselling@sdbc.ac.in<br>
                        +91-9669662244, +91-9669661133<br>
                        Address: Umaria, A. B. Road, Near Rau,
                            <br> Indore-453 331 (MP)-India
                        </p>
            </div>


            <div class="col-6 col-md">
                <h5 class="fw-blod">Quick links</h5>
                <ul class=" list-unstyled text-small">
                    <li class="nav-item mb-2"><a href="https://sdbc.ac.in/">
                            <h6 class="text-black text-muted text-small"> SDBC-BGI</h6>
                        </a></li>
                    <li class="nav-item mb-2"><a href="/index.html">
                            <h6 class="text-black text-muted text-small"> AASDBC </h6>
                        </a></li>
                        <li class="nav-item mb-2"><a href="https://sdbc.ac.in/placed-students/">
                            <h6 class="text-black text-muted text-small"> Placed Student</h6>
                        </a></li>
                </ul>
            </div>
            <div class="container-fluid bg-white ">
                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 ">
                    <div class="col-md-4 d-flex align-items-center">
                        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">

                        </a>
                        <span class="mb-3 mb-md-0 text-muted">© 2022 Naveen Mishra All Rights
                            Reserved</span>
                    </div>

                    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                        <li class="ms-3"><a class="text-muted "
                                href="https://instagram.com/sdbc_alumni_association?igshid=ZDdkNTZiNTM= "><img src="../static/photos/img1/in_i2.png"
                                    class="rounded-circle" width="40" alt="instragam"></li>
                        <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/sdbansalindore/"><img
                                  src="../static/photos/img1/fac_ic4.png"   class="rounded-circle" width="40" alt="facebook">
                        </li>
                        <li class="ms-3"><a class="text-muted"
                                href="https://www.linkedin.com/in/alumni-association-sdbc-19a024260"><img
                                    class="rounded-circle"  src="../static/photos/img1/in_ic3.png"   width="40" alt="linkedin">
                        </li>
                        <li class="ms-3"><a class="text-muted"
                                href="https://www.youtube.com/@sushiladevibansalcollegein5614"><img
                                    class="rounded-circle"  src="../static/photos/img1/y_i1.png"  width="40" alt="Youtube">
                        </li>
                    </ul>
                </footer>
            </div>


        </footer>
    </div>

    
        
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <!-- animation js aos  -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 300,
            duration: 2000,
        });
    </script>
</body>

</html>